@import url('./__item/photo-grid__item.css');

.photo-grid {
  max-width:calc(100% - 96px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(213px, 1fr));
  gap: 16px;
}