.lead__title {
  margin: 0;
  width: 720px;
  min-height: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}
