.place__paragraph {
  margin: 0;
  padding-bottom: 27px;
  font-style: normal;
  font-size: 18px;
  line-height: 163%;
  font-weight: normal;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}


@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
}
