@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');



.cover {
  width: calc(100% - 96px);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/cover-trains.jpg');
  min-height: 740px;
  background-size: cover;
  z-index:22;
}

.cover:before {
  content:" ";
  position:absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  display: block;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity 0.25s ease-in-out;
}

.cover:hover:before{
  opacity: .8;
  transition: opacity 0.25s ease-in-out;

}
