.header__lang-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 18px;
}

@media screen and (max-width: 767px) {
}
